<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>LetMeFix</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <!-- Manifestos-->
  <link rel="manifest" href="/manifest.json">
  <link rel="manifest" href="/manifest.webmanifest">
  <!-- iOS -->
  <!-- jQuery -->
  <script src="/js/jquery.js"></script>
  <!-- Design Site-->
  <link rel="stylesheet" href="/css/design.css">

  <!-- Definições do ecra do PWA-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- PWA no iOS-->
  <link rel="apple-touch-icon" href="/images/icon-152.png"><meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="LetMeFix">
  <meta name="msapplication-TileImage" content="/images/icon-144.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <!-- Tema do Browser-->
  <meta name="theme-color" content="#317EFB"/>

</head>
<body class="fullscreen">
  <!-- Barra Superior -->
  <div class="navBar">
    <div class="item" onclick="myFunction(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </div>
  <!-- Menu Lateral -->
  <div class="menu" id="menu">
      <p class="titulo">Menu</p>
      <p class="item" onclick="mudarPagina('main');">Inicio</p>
      <p class="titulo">Obras</p>
      <p class="item" onclick="mudarPagina('concorrer_servico_trabalho');">Concorrer para um serviço/obra</p>
      <p class="titulo">Conta</p>
      <p class="item" onclick="logout();">Terminar Sessão</p>
    </div>
  <!-- Corpo do programa -->
  <div class="container" id="container">
        
        <p class="titulo">Trabalhos Disponiveis de <%= tipo_trabalho %></p>
        <table class="tabela">
          <tr>
            <th>ID da Obra</th>
            <th>Data Limite</th>
            <th>Descrição</th>
            <th>Detalhes</th>
          </tr>
          <%= lista_servicos %>
          <p class="subtitulo">Clique no ID da Obra para efetuar o pedido</p>
        </table>
        <div class="enviar_pedido_servico" id="enviar_pedido_servico" style="display: none;">
            <p class="titulo">Enviar pedido</p>
            <p class="subtitulo">ID da Obra  <input class="input_login" type="text" id="id_obra" placeholder="0" readonly></p>
            <p class="subtitulo">Informação relativa ao pedido</p>
            <textarea rows="4" cols="50" class="input_login" id="descricao" placeholder="Inclua informações como o preço, prazo, etc..."></textarea>
            <p class="subtitulo">Custo:  <input class="input_login" type="text" id="custo" placeholder="0" value="0"></p>
            <p class="btn_submit" onclick="enviar_pedido();">Enviar Pedido</p>
            <p class="btn_submit" onclick="cancelar_pedido();">Cancelar Pedido</p>
        </div>
  </div>


  <!-- Worker, Funções JavaScript-->
  <script src="/js/main.js"></script>
  <script>
      function enviar_pedido(){
        $.ajax({
            type: 'POST',
            url: '/criar_proposta_trabalho',
            data: { 
                'id_obra': document.getElementById('id_obra').value,
                'descricao': document.getElementById('descricao').value,
                'custo': document.getElementById('custo').value
            },
            success: (response) => {
            if(response === "ok"){
                alert('Proposta de serviço enviada!');
                window.location.href = "/main.html";
            }else{
                alert('Impossivel enviar a proposta!');
            }
            },
            error: (jqXHR, textStatus, errorThrown) => {
            console.log(textStatus, errorThrown);
            alert('Um erro desconhecido aconteceu.');
            }
        });
      }

      function cancelar_pedido(){
          document.getElementById('id_obra').value = 0;
          $("#enviar_pedido_servico").hide("fast");
      }

      function mostrarMenuEnviarPedido(id_obra){
          document.getElementById('id_obra').value = id_obra;
          $("#enviar_pedido_servico").show("fast");
      }
      
    function mudarPagina(pagina){
      window.location.href = "/"+pagina+".html";

    }
    var menuAtivo = false;

      function myFunction(x) {
        x.classList.toggle("change");
        if(menuAtivo){
          $("#menu").hide("fast");
          menuAtivo = !menuAtivo;
        }else{
          $("#menu").show("fast");
          menuAtivo = !menuAtivo;
        }
      }
      function logout(){
      $.ajax({
        type: 'POST',
        url: '/logout',
        success: (response) => {
          if(response === "ok"){
            window.location.href = "/";
          }
        },
        error: (jqXHR, textStatus, errorThrown) => {
           console.log(textStatus, errorThrown);
           alert('Um erro desconhecido aconteceu.');
        }
    });
    }
    $(document).keypress(function(event){
      var keycode = (event.keyCode ? event.keyCode : event.which);
      if(keycode == '13'){
          login();  
      }
    });  
    $("#login_btn").click(function(){
      login();
    });    
  
    function criar_obra(){
      $.ajax({
        type: 'POST',
        url: '/criar_obra',
        data: { 
            'descricao': document.getElementById('descricao').value, 
            'carpintaria': document.getElementById('carpintaria').value,
            'canalizador': document.getElementById('canalizador').value,
            'eletricista': document.getElementById('eletricista').value,
            'construcao_civil': document.getElementById('construcao_civil').value
        },
        success: (response) => {
          if(response === "ok"){
            alert('Proposta de edição enviada!');
            window.location.href = "/main.html";
          }else{
            alert('Impossivel enviar a proposta!');
          }
        },
        error: (jqXHR, textStatus, errorThrown) => {
           console.log(textStatus, errorThrown);
           alert('Um erro desconhecido aconteceu.');
        }
    });
    }
  </script>
</body>
</html>
